<div class="container">
  <div class="jumbotron">
    <h1>Bhargav Bachina</h1>
    <p>I am Software Architect working on various technologies and trying to solve problems.</p>
  </div>


  <accordion [isAnimated]="true">
    <accordion-group heading="Profile Information">
      <div class="row">
        <div class="col-md-6">
            Name:
        </div>
        <div class="col-md-6">
            First Last
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            Age:
        </div>
        <div class="col-md-6">
            Too old
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            Occupation:
        </div>
        <div class="col-md-6">
            blah blah blah
        </div>
      </div>
    </accordion-group>
    <accordion-group heading="Projects">
      <h1>Project 1</h1>
      <p>Super AWSome Project</p>
      <h1>Project 2</h1>
      <p>Terrible Azure thing</p>
      <h1>Project 3</h1>
      <p>The there was GCP</p>
    </accordion-group>
    <accordion-group heading="Certifications">
      <p>ALL the certs</p>
    </accordion-group>
    <accordion-group heading="Presentations">
      <p>Accreditations Lists</p>
    </accordion-group>
  </accordion>

</div>

